name: CI
on: [push, pull_request, workflow_dispatch]
permissions:
  contents: read
  id-token: write
  pages: write
jobs:
  ci:
    uses: york-fs/monorepo/.github/workflows/kicad.yml@2f66f6016b9a48cb2883001bd74522b7bda31716
